
# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*


web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

web/bundles/*
=======
#arquivos de cache do symfony
app/bootstrap.php.cache
app/cache/*

#tags
.tags*

#logs
app/logs/*

#web bundles
web/bundles/*

#vendors
vendor/*
