<div class="new-call-helpers">
    <h3>Hardware</h3>
    <h4>O que é um problema de Hardware?</h4>
    <ul>
        <li>O equipamento compreende: TFL, Teclado, Pinpad, Leitora de Código de Barras (pistola), Impressora Térmica, No break, Leitora CMC7 (cheque).</li>
    </ul>
</div>

<!--
<dl>
    <dt>Hardware</dt>
    <dd class="question">O que é um problema de Hardware?</dd>
    <dd class="item">   - O equipamento compreende: TFL, Teclado, Pinpad, Leitora de Código de Barras (pistola), Impressora Térmica, No break, Leitora CMC7 (cheque).</dd>
    <dd class="question">Quais os sintomas?</dd>
    <dd class="item">   - TFL: não liga ou faz ruídos incomuns.</dd>
    <dd class="item">   - Teclado: as teclas não funcionam.</dd>
    <dd class="item">   - Pinpad: não permite que o cliente digite a senha, não exibe mensagens na tela ou não lê cartão.</dd>
    <dd class="item">   - Leitora de Código de Barras (pistola): não lê ou lê com erros o código de barras impresso nos documentos.</dd>
    <dd class="item">   - Impressora Térmica: não imprime ou imprime parcialmente os comprovantes.</dd>
    <dd class="item">   - No break: apitando, os demais equipamentos não ligam ou desligam imediatamente ou logo após uma breve queda de energia.</dd>
    <dd class="item">   - Leitora CMC7 (cheques): não captura as informações do cheque.</dd>
    <dd class="item">   - Leitora de volantes: não lê ou lê com erro os volantes de aposta.</dd>
    <dd class="item">   - Problemas mais comuns</dd>
    <dd class="item">   - Os periféricos que costumam apresentar mais problemas são o Pinpad e a Leitora CMC7.</dd>
    <dd class="item">   - Geralmente são relacionados a defeitos em um ou mais componentes do periférico que apresenta a falha e pode seguir um padrão: todas as transações ou somente um determinado tipo; não lê nenhum volante ou não lê volantes da Dupla Sena; altera o número de teimosinhas ou de apostas; não lê cartão com chip ou não lê cartão sem chip.</dd>
    <dd class="item">   - O Software de Diagnóstico pode ajudar a identificar o problema de hardware, basta testar o periférico ?suspeito?.</dd>

    <dt>Comunicação</dt>
    <dd class="question">O que é um problema de comunicação?</dd>
    <dd class="item">   - É quando o TFL, embora sem defeito, não consegue se comunicar com a CAIXA e registrar o logon do operador ou as transações.</dd>
    <dd class="item">   - Também pode acontecer do problema se apresentar após o logon e de forma intermitente (hora funciona, hora não) ou ainda sob a forma de lentidão ou travamentos constantes.</dd>
    <dd class="question">Quais os sintomas?</dd>
    <dd class="item">   - O problema de comunicação pode ser de grande abrangência, também chamado de massiva, quando afeta um grande número de UL (rompimento de fibra, chuvas muito intensas, interferência), ou pode afetar uma única UL (todos os TFL) ou somente um TFL da UL.</dd>
    <dd class="item">   - Preste atenção aos indicadores GATEWAY, DNS e HTTP (no alto à direita).</dd>
    <dd class="item">   - O Normal é que todos estejam VERDES.</dd>
</dl>-->