<div class="user-data new-call">

    <div class="backgroud-form">
        <h3> {{ "Requestor Data" | trans }}</h3>

        <table class="data-user-new-service-call">
            <tr>
                <td class="field">Razão Social:</td>
                <td colspan="3"></td>
                <td class="field">CNPJ:</td>
                <td></td>
            </tr>
            <tr>
                <td class="field">Nome Fantasia:</td>
                <td colspan="3"></td>
                <td class="field">UID:</td>
                <td></td>
            </tr>
            <tr>
                <td class="field">Endereço:</td>
                <td></td>
                <td class="field">Cidade:</td>
                <td></td>
                <td class="field">Estado:</td>
                <td></td>
            </tr>
            <tr>
                <td class="field">Telefone:</td>
                <td></td>
                <td class="field">Cep:</td>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>


    <div class="backgroud-form">
        <h3> {{ "Request Data" | trans }}</h3>

        <table class="data-call-new-service-call">
            <tr>
                <td class="field">Categoria:<span class="important">*</span></td>
                <td><select></select></td>
            </tr>
            <tr>
                <td class="field">Tipo:<span class="important">*</span></td>
                <td><select></select></td>
            </tr>
            <tr>
                <td class="field">Ocorrência:<span class="important">*</span></td>
                <td><select></select></td>
            </tr>
            <tr>
                <td class="field" colspan="2">Descrição:</td>
            </tr>
        </table>
        <textarea rows="5" cols="60"></textarea>
    </div>

</div>