parameters:
    database_driver: pdo_pgsql
    database_host: localhost
    database_port: '5432'
    database_name: expresso
    database_user: postgres
    database_password: password
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: mailuser
    mailer_password: mailpass
    setup: 1
    locale: en
    secret: ThisTokenIsNotSoSecretChangeIt
    memcached.servers: [{ host: 127.0.0.1, port: 11211 }]
    database_path: null
    ldap_host: localhost
    ldap_port: null
    ldap_dn: dc=customdc
    ldap_user: 'cn=customcn,dc=customdc'
    ldap_pass: password
