<%
	function recursive_forest(array_trees)
	{
	  %><ul><%
	
	      for(var i=0; i<array_trees.length; i++)
	      {
		  folder_class = array_trees[i].default ? array_trees[i].default : '';
		  folder_name = array_trees[i].cn;

		  %><li id="<%= array_trees[i].id %>" class="closed"><span class="folder <%= folder_class %>" title="<%= folder_name %>" style="text-align : left; position : static;"><%= folder_name %>
		  <% if(array_trees[i].status.Unseen > 0){	%>
			<span style="text-align : left;">[<label id="dftree_<%= array_trees[i].id%>_unseen" class="folder_unseen" style="color : red; text-align : left;"><%= array_trees[i].status.Unseen %></label>]</span>
		  <% }	%>
		  <% if(array_trees[i].children_unseen > 0){	%>
			<span style="text-align : left;">[<label id="dftree_<%= array_trees[i].id%>_children_unseen" class="folder_unseen" style="color : blue; text-align : left;"><%= array_trees[i].children_unseen %></label>]</span>
		  <% }	%>
		  </span>
		  <%
		  if (array_trees[i].children.length>0)
			  recursive_forest(array_trees[i].children);

		  %></li><%
	      }
 
	  %></ul><%
	}
%>
<ul class="filetree mainfoldertree">
  <li><span class="folder head_folder">Minhas Pastas</span>
      <% recursive_forest(data.folders[0]); %>
  </li>
  <% if(data.folders[1].length > 0) { %>
  <li><span class="folder shared-folders">Pastas compartilhadas</span>
      <% recursive_forest(data.folders[1]); %>
  </li> 
  <%}%>
</ul>