<div class="ui-mail-layout">
    <div class="ui-layout-west">
    	<div class="block-vertical-toolbox">
    		<div class="imap-folders"></div>
    	</div>
    </div>
    <div class="ui-layout-center">			
    	<div id="tabs"> 
            <ul>
                <li class="ui-tab-disabled" style="opacity: 100;">
                    <a href="#tabs-0"><span class="folder-tab-name">{{"INBOX" | trans}}</span><font face="Verdana" size="1" color="#505050">
                        [<span class="folder-tab-new-msgs-number">0</span> / <span class="folder-tab-total-msgs-number">0</span>]</font>
                    </a>
                </li>
            </ul>
            <div id="tabs-0" role="folder" style="width:100%;height:95%;">
                <table id="imap-folder-table-messages" class="imap-folder-table-messages">
                    <tr>
                        <td/>
                    </tr>	
                </table>
                <div id="imap-folder-table-pager"></div>
            </div>
    	</div>
    </div>
</div>